

<div class="container">
      <nav class="navbar navbar-light bg-light">
          <a class="navbar-brand" [routerLink]="['/posts']">
            <img src="../assets/brand/le.svg" width="30" height="30" class="d-inline-block align-top" alt="">
            Lang-exchange
          </a>

          <div class="form-inline">
          <span class="navbar-text  mr-sm-4"><a href="#">Login</a></span>
          <button class="btn btn-outline-success" type="button">Post</button>
        </div>
        </nav>


  <router-outlet></router-outlet>
</div>
