<form>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="chooseLearn">Want to Learn</label>
      <select id="chooseLearn" class="form-control">
        <option selected>Polish</option>
        <option>English</option>
      </select>
    </div>

    <div class="form-group col-md-2">
      <label for="chooseLearnLevel">Level</label>
      <select id="chooseLearnLevel" class="form-control">
        <option selected>Native</option>
        <option>Any</option>
        <option>C1</option>
        <option>B2</option>
      </select>
    </div>

    <div class="form-group col-md-4">
      <label for="chooseOffer">Offer</label>
      <select id="chooseOffer" class="form-control">
        <option selected>English</option>
        <option>Polish</option>
      </select>
    </div>

    <div class="form-group col-md-2">
      <label for="chooseOfferLevel">Level</label>
      <select id="chooseOfferLevel" class="form-control">
        <option selected>Native</option>
        <option>C1</option>
        <option>B2</option>
      </select>
    </div>

  </div>

  <div class="form-row">
    <div class="form-group col-md-2">
      <label for="choosePublicationDate">Publication date</label>
      <select id="choosePublicationDate" class="form-control">
        <option selected>Any</option>
        <option>Today</option>
        <option>1 day ago</option>
        <option>7 days ago</option>
        <option>month ago</option>
      </select>
    </div>

    <div class="form-group col-md-2">
      <label for="chooseGender">Gender</label>
      <select id="chooseGender" class="form-control">
        <option selected>Any</option>
        <option>Male</option>
        <option>Female</option>
      </select>
    </div>

    <div class="form-group col-md-2">
      <label for="chooseAge">Age</label>
      <select id="chooseAge" class="form-control">
        <option selected>Any</option>
        <option>
          < 20</option>
            <option>20-25</option>
            <option>25-30</option>
            <option>30-35</option>
            <option>35-40</option>
            <option>40-45</option>
            <option>45-50</option>
            <option>>50</option>
      </select>
    </div>

    <div class="form-group col-md-2">
      <label for="search">&nbsp;</label>
      <button id="search" type="submit" class="form-control btn btn-outline-primary">Search</button>
    </div>
  </div>
</form>

<div class="row" style="margin-top: 50px;">
  <div class="col-lg-6" *ngFor="let postItem of posts" style="margin-bottom: 40px;">
    <div class="clickable" style="padding-left: 20px; padding-bottom: 5px;  border: 1px solid #cecece; border-radius: 10px; background-color:#e9e9e9;" >
      <post [post]="postItem"></post>
    </div>
  </div>
</div>
